#  h2:
#    console: true
#    path: /h2-console     #localhost:8080/h2-console ???? ??.

spring:
  datasource:
    url: jdbc:mariadb://localhost:3406/doll_gacha
    driver-class-name: org.mariadb.jdbc.Driver
    username: doll_gacha
    password: ckdlsk13!


  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        show_sql: true
        format_sql: true
        default_batch_fetch_size: 100
    open-in-view: false
  devtools:
    livereload:
      enabled: true
    freemarker:
      cache: false
    restart:
      enabled: true
  thymeleaf:
    cache: false

logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.type: trace